/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
}

/* Card Styling */
.card {
  display: flex;
  background-color: #1e1e1e;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  width: 80vw;
  height: 13.5vh;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 120px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.card-content {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-category {
  font-size: 12px;
  color: #aaa;
  text-transform: uppercase;
}

.card-title {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.card-link {
  font-size: 14px;
  color: #ffcc00;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.card-link:hover {
  transform: translateX(5px);
  color: #fff;
}

/* Modal Styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease, color 0.3s ease;
}

.modal-content {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  position: relative;
  animation: fadeIn 0.3s ease;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #000000;
  font-size: 24px;
  cursor: pointer;
  height:35px;
  width:35px;
  background-color: #c2c2c2;
  border-radius: 50%;
}

.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.modal-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-about {
  color: #aaa;
  font-size: 16px;
  line-height: 1.5;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
